body {
  padding: 0;
  margin: 0;
}

.top-bar {
  overflow: hidden;
}

.top-bar a {
  float: left;
  color: black;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 3px;
}

.top-bar a:hover {
  background-color: #e8e6e6;
}

