.page-func {
  display: flex;
  flex-direction: row;
}

fieldset {
  border: none;
}

input {
  margin-left: 35px;
  padding: 1em;
  width: 300px;
  height: 10px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 3px;
}

input:focus {
  outline: none;
}

button {
  width: 50px;
  height: 35px;
  border-radius: 3px;
  border: none;
  font-size: 13px;
  flex-direction: row;
  background-color: white;
}

.save-btn {
  margin-left: 10px;
  background-color: #cecece;
}

.save-btn:hover {
  background-color: #b7b7b7;
}
